mixin card(artist)
	div.artist-card(data-toggle="collapse" data-target="#top-track" id=artist.id)
		div.artist-pic
			img(src=artist.image)
		div.artist-info
			div.artist-name
				h3.card-title #{artist.name}
				button.bio-btn
					i.fas.fa-info-circle.fa-2x
			p.card-subtitle #{artist.follow} followers
			p.card-text #{artist.genre}
		div.card-choice.reject
		div.card-choice.like
		div.card-drag

		div.collapse#top-track
			div.track-info
				div.track-image
					img(src=artist.track.cover)
				div.track-player
					p #{artist.track.title}
					video(controls name="media")
						source(src=artist.track.preview type="audio/mpeg")
