mixin card(artist)
	div.artist-card(id=artist.id)
		div.artist-pic(data-toggle="collapse" data-target="#top-track")
			img(src=artist.image)
		div.artist-info(data-toggle="collapse" data-target="#top-track")
			div.artist-name
				h3.card-title #{artist.name}
				button.bio-btn
					i.fas.fa-info-circle.fa-2x
			p.card-subtitle #{artist.follow} followers
			p.card-text #{artist.genre}
		div.card-choice.reject
		div.card-choice.like
		div.card-drag

		div.collapse#top-track
			div.track-info
				div.track-image
					img(src=artist.track.cover)
				div.track-player(id=artist.track.trackID)
					p #{artist.track.title}
					audio(controls)
						source(src=artist.track.preview type="audio/mpeg")


